In [38]:
import pandas as pd
import numpy as np
import json
import csv
from pandasql import sqldf
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
import matplotlib as plt
import seaborn as sns
%matplotlib inline

pysqldf = lambda q: sqldf(q, globals())

In [4]:

with open("data/song.json") as file:
    data = json.load(file)

In [9]:
#convert json to csv
with open("data/song.csv", "w") as file:
    csv_file = csv.writer(file)
    csv_file.writerow(["id","song_played","time_played","user_id","user_sign_up_date","user_state"])
    for item in data:
        csv_file.writerow([item['id'], item['song_played'],item['time_played'],item['user_id'],item['user_sign_up_date'],item['user_state'] ])

In [10]:
del data

In [99]:
df = pd.read_csv("data/song.csv")

In [100]:
df[["time_played","user_sign_up_date"]] = df[["time_played","user_sign_up_date"]].apply(pd.to_datetime)

In [101]:
df.head()

,id,song_played,time_played,user_id,user_sign_up_date,user_state
0,GOQMMKSQQH,Hey Jude,2015-06-11 21:51:35,122,2015-05-16,Louisiana
1,HWKKBQKNWI,We Can Work It Out,2015-06-06 16:49:19,3,2015-05-01,Ohio
2,DKQSXVNJDH,Back In the U.S.S.R.,2015-06-14 02:11:29,35,2015-05-04,New Jersey
3,HLHRIDQTUW,P.s. I Love You,2015-06-08 12:26:10,126,2015-05-16,Illinois
4,SUKJCSBCYW,Sgt. Pepper's Lonely Hearts Club Band,2015-06-28 14:57:00,6,2015-05-01,New Jersey

In [103]:
dfdf.iloc[0,1]

Timestamp('2015-05-16 00:00:00')

In [104]:
df.isnull().sum()

id                   0
song_played          0
time_played          0
user_id              0
user_sign_up_date    0
user_state           0
dtype: int64

let's find count of unique users per state.

In [105]:
unique_users_per_state = df.drop_duplicates(subset=["user_id","user_state"])[["user_id","user_state"]]

In [106]:
unique_users_per_state.groupby("user_state").count().sort_values("user_id",axis=0,ascending=False)

                user_id
user_state
New York             23
California           21
Texas                15
Pennsylvania          9
Ohio                  9
Illinois              7
Florida               7
North Carolina        6
New Jersey            6
Massachusetts         6
Georgia               6
Michigan              5
Tennessee             5
Missouri              5
Louisiana             5
Maryland              5
Wisconsin             5
Minnesota             4
Alabama               4
Indiana               4
Kentucky              3
West Virginia         3
South Carolina        3
Colorado              3
Oregon                3
Mississippi           3
Oklahoma              2
Alaska                2
Arkansas              2
Utah                  2
Virginia              2
Washington            2
New Mexico            1
Idaho                 1
North Dakota          1
Connecticut           1
Iowa                  1
Rhode Island          1
Nebraska              1
Arizona               1
Kansas                1

In [107]:
early_birds = df.drop_duplicates(subset=["user_id","user_state"]).sort_values('user_sign_up_date',axis=0,ascending=True)
early_birds.groupby('user_state')[["user_id","user_sign_up_date"]].first()

                user_id user_sign_up_date
user_state
Alabama               5        2015-05-01
Alaska              106        2015-05-12
Arizona             105        2015-05-12
Arkansas             78        2015-05-08
California           39        2015-05-04
Colorado            173        2015-05-19
Connecticut         127        2015-05-16
Florida              41        2015-05-04
Georgia              16        2015-05-02
Idaho               165        2015-05-19
Illinois             45        2015-05-05
Indiana             102        2015-05-12
Iowa                178        2015-05-19
Kansas              177        2015-05-19
Kentucky             34        2015-05-04
Louisiana            50        2015-05-06
Maryland             18        2015-05-02
Massachusetts        15        2015-05-02
Michigan             13        2015-05-02
Minnesota            21        2015-05-02
Mississippi          23        2015-05-02
Missouri             85        2015-05-09
Nebraska            134        2015-05-16
New Jersey            6        2015-05-01
New Mexico            4        2015-05-01
New York             19        2015-05-02
North Carolina        2        2015-05-01
North Dakota        135        2015-05-17
Ohio                  3        2015-05-01
Oklahoma            119        2015-05-16
Oregon                1        2015-05-01
Pennsylvania         11        2015-05-02
Rhode Island        174        2015-05-19
South Carolina       64        2015-05-08
Tennessee            70        2015-05-08
Texas                 7        2015-05-01
Utah                 29        2015-05-03
Virginia            142        2015-05-17
Washington          125        2015-05-16
West Virginia        60        2015-05-07
Wisconsin            32        2015-05-04

Unique users

In [49]:
print pysqldf("select count(user_id) from df")

   count(user_id)
0            4000

In [60]:
#print pysqldf("select distinct user_id, user_sign_up_date, user_state from df group by user_state order by user_sign_up_date")

### Recommendation

Here we build a function that takes as an input any of the songs in the data and returns the most likely song to be listened next. That is, if, for instance, a user is currently listening to "Eight Days A Week", which song has the highest probability of being played right after it by the same user? This is going to be v1 of a song recommendation model.

In [212]:
sorted_play_times = df.sort_values("time_played",axis=0)

query = "Come Together"
groups = sorted_play_times.groupby("user_id")

next_tracks_listened = []

for name, group in groups:
    qindex = group.song_played == query
    first_play = group[qindex].index.tolist()
    
    
    if not first_play: #skip if user not listened to the track yet
        continue 
    
#     print qindex
#     print qindex.shift()
    
    next_track_index = qindex.shift()
    next_track_index.iloc[0] = False #avoid NaN index that happens after shifting
    
    #ToDo: drop the track if time difference between the consequetive playbacks is more than x minutes
    
    next_played = group[next_track_index][["song_played"]]
    
#     print next_played
        
#     print sorted_play_times[sorted_play_times.index.isin(first_play)][["song_played","time_played","user_id"]]
#     print "--"
#     print sorted_play_times[sorted_play_times.index.isin(next_play)][["song_played","time_played","user_id"]]
#     print "xx"

    next_tracks_listened.extend(list(next_played.song_played))
    
    
# qindex = sorted_play_times[sorted_play_times.song_played == query].index.tolist()

# qnext = [x+1 for x in qindex]
# searchindex = set(qnext).union(qindex)
q_results = pd.DataFrame({"songs":next_tracks_listened , "counter":[1]*len(next_tracks_listened)}, index=np.arange(len(next_tracks_listened)))
q_results
q_results.groupby("songs").count().sort_values('counter',axis=0,ascending = False)

                                                counter
songs
Come Together                                        43
Revolution                                           30
Get Back                                             25
Back In the U.S.S.R.                                 21
Let It Be                                            21
A Day In The Life                                    12
Hello Goodbye                                        12
Lucy In The Sky With Diamonds                        12
Here Comes The Sun                                   11
Something                                            11
Hey Jude                                             10
Eleanor Rigby                                        10
We Can Work It Out                                    9
Yesterday                                             8
While My Guitar Gently Weeps                          8
Helter Skelter                                        8
Ob-la-di, Ob-la-da                                    8
Lady Madonna                                          6
Golden Slumbers                                       6
Reprise / Day in the Life                             6
Sgt. Pepper/with A Little Help From My Friends        5
OH DARLING                                            5
Eight Days A Week                                     5
Can't Buy Me Love                                     4
And Your Bird Can Sing                                4
Magical Mystery Tour                                  4
Blackbird                                             4
Help!                                                 4
I Am the Walrus                                       4
A Hard Day's Night                                    3
...                                                 ...
Things We Said Today                                  2
Ticket to Ride                                        2
Please Please Me                                      2
She Loves You                                         2
You Never Give Me Your Money                          2
All You Need Is Love                                  2
IN MY LIFE                                            2
Drive My Car                                          2
I Want You (She's So Heavy)                           2
I Want To Hold Your Hand                              2
Penny Lane                                            1
The Word                                              1
BAD BOY                                               1
Birthday                                              1
Dear Prudence                                         1
When I'm 64                                           1
From Me To You                                        1
GIRL                                                  1
Getting Better                                        1
I Saw Her Standing There                              1
Got To Get You Into My Life                           1
Norwegian Wood                                        1
Sun King                                              1
She's Leaving Home                                    1
I'll Follow The Sun                                   1
I'm A Loser                                           1
I've Got A Feeling                                    1
SHE'S A WOMAN                                         1
Rocky Raccoon                                         1
LITTLE CHILD                                          1

[71 rows x 1 columns]