In [1]:
import pandas as pd
import numpy as np

from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier
import matplotlib as plt
import seaborn as sns
%matplotlib inline

/Users/aoliya/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df = pd.read_csv("data/grocery/purchase_history.csv")
items = pd.read_csv("data/grocery/item_to_id.csv")

In [3]:
df.head()

   user_id                                                 id
0   222087                                              27,26
1  1343649                                            6,47,17
2   404134                       18,12,23,22,27,43,38,20,35,1
3  1110200                                 9,23,2,20,26,47,37
4   224107  31,18,5,13,1,21,48,16,26,2,44,32,20,37,42,35,4...

In [4]:
items.head()

         Item_name  Item_id
0           coffee       43
1              tea       23
2            juice       38
3             soda        9
4  sandwich loaves       39

In [5]:
df.isnull().sum()

user_id    0
id         0
dtype: int64

In [6]:
items.isnull().sum()

Item_name    0
Item_id      0
dtype: int64